# Aerospike database configuration file.

# This stanza must come first.
service {
	user root
	group root
	paxos-single-replica-limit 1 # Number of nodes where the replica count is automatically reduced to 1.
	pidfile {{ aerospike_pidfile }}
	service-threads {{ aerospike_service_threads }}
	transaction-queues {{ aerospike_transaction_queues }}
	transaction-threads-per-queue {{ aerospike_transaction_threads_per_queue }}
	proto-fd-max 15000
}

logging {

	# Log file must be an absolute path.
	file {{ aerospike_logfile }} {
		context any info
	}

	# Send log messages to stdout
	console {
		context any info
	}
}

network {
	service {
		address {{ aerospike_service_addresses }}
		port {{ aerospike_default_backend_port }}

		# Uncomment the following to set the `access-address` parameter to the
		# IP address of the Docker host. This will the allow the server to correctly
		# publish the address which applications and other nodes in the cluster to
		# use when addressing this node.
		# access-address <IPADDR>
	}

	heartbeat {

        address {{ aerospike_hb_address }}
		# mesh is used for environments that do not support multicast
		mode mesh
		port {{ aerospike_hb_port }}

		# use asinfo -v 'tip:host=<ADDR>;port=3002' to inform cluster of
		# other mesh nodes

		interval 150
		timeout 10
	}

	fabric {
	    address {{ aerospike_fabric_address }}
		port {{ aerospike_fabric_port }}
	}

	info {
	    address {{ aerospike_info_address }}
		port {{ aerospike_info_port }}
	}
}

namespace {{ aerospike_namespace }} {
	replication-factor {{ aerospike_repl_factor }}
	memory-size {{ aerospike_mem_gb }}G
	default-ttl {{ aerospike_default_ttl }} # 5 days, use 0 to never expire/evict.

	#	storage-engine memory

	# To use file storage backing, comment out the line above and use the
	# following lines instead.

	storage-engine device {
		file {{ aerospike_storage }}
		filesize {{ aerospike_storage_gb }}G
		data-in-memory true # Store data in memory in addition to file.
	}
}
